
aniso8601==9.0.1
appdirs==1.4.4
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==24.2.0
base58==2.1.1
bip-utils==2.9.1
bip32==3.4
bleak==0.22.2
blinker==1.8.2
cbor2==5.6.4
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
coincurve==18.0.0
construct==2.10.70
coverage==7.6.1
crcmod==1.7
cryptography==43.0.1
Cython==0.29.37
dbus-fast==2.24.2
Deprecated==1.2.14
distlib==0.3.3
ecdsa==0.16.1
ECPy==1.2.5
ed25519-blake2b==1.4.1
embit==0.7.0
exceptiongroup==1.2.2
filelock==3.0.12
Flask==2.3.3
Flask-RESTful==0.3.10
future==1.0.0
hidapi==0.14.0.post2
idna==3.8
importlib_metadata==8.4.0
iniconfig==2.0.0
intelhex==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.17.3
ledgerblue==0.1.54
ledgercomm==1.1.2
ledgered==0.7.1
ledgerwallet==0.5.1
libusb1==3.1.0
MarkupSafe==2.1.5
mnemonic==0.20
ndeflib==0.3.3
nfcpy==1.0.4
packaging==24.1
pillow==10.4.0
pluggy==1.5.0
protobuf==3.20.3
py==1.11.0
py-sr25519-bindings==0.2.0
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pyDes==2.0.1
pyelftools==0.31
PyGithub==1.59.1
PyJWT==2.9.0
PyNaCl==1.5.0
PyQt5==5.15.2
PyQt5_sip==4.19.24
pyrsistent==0.20.0
pyserial==3.5
pytesseract==0.3.13
pytest==6.2.5
pytest-cov==5.0.0
pytest-timeout==2.2.0
python-gnupg==0.5.2
python-u2flib-host==3.0.3
pytz==2024.1
ragger==1.23.0
requests==2.32.3
six==1.16.0
speculos==0.9.7
tabulate==0.9.0
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
typing-extensions==3.10.0.2
urllib3==2.2.2
virtualenv==20.4.7
websocket-client==1.8.0
Werkzeug==3.0.4
wrapt==1.16.0
zipp==3.20.1